* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  text-align: center;
  --beige: #FEE4D0;
  --pink: #CC6DCD;
  --blue: #129BE9;
  --purple: #2A298B;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.container {
  text-align: center;
  line-height: 1;
  letter-spacing: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

button.pixel {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  display: inline-block;
  margin: 2px;
  font-family: monospace;
  background: var(--beige);
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 5px;
}

button.pixel:hover {
  opacity: 0.7;
}

button.pixel:active {
  opacity: 0.7;
}

button.pixel.on {
  background: var(--pink);
  box-shadow: 0 0 5px var(--pink);
}

button.pixel.ripple {
  background: var(--pink) !important;
  box-shadow: 0 0 5px var(--pink);
  opacity: 1 !important;
}

button.controls {
  background: transparent;
  box-shadow: none;
  border: none;
  fill: black;
  color: black;
  cursor: pointer;
  z-index: 100;
}

.playing .pixel.now {
  background: var(--blue); 
}