* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  text-align: center;
  --pink: #E61E8C;
  --blue: #4DEEEA;
  --purple: #2A298B;
  --yellow: #FFED5E;
  --green: #74EE16;
}

h1 {
  font-family: 'Monoton', monospace;
  font-weight: normal;
  font-size: 60px;
  color: var(--pink);
}
h1 > .subtitle {
  font-family: monospace;
  font-weight: normal;
  font-size: 16px;
  color: #740DAC;
}

.container {
  text-align: center;
  line-height: 1;
  letter-spacing: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

button.pixel {
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  display: inline-block;
  margin: 2px;
  font-family: monospace;
  background: var(--yellow);
  height: 20px;
  width: 20px;
  border: none;
  border-radius: 5px;
}

button.pixel:hover {
  opacity: 0.7;
}

button.pixel:active {
  opacity: 0.7;
}

button.pixel.on {
  background: var(--pink);
  box-shadow: 0 0 5px var(--pink);
}

button.pixel.ripple {
  background: var(--blue) !important; /*#cc6dcd80 !important; /* var(--pink) with an opacity */
  box-shadow: 0 0 5px var(--blue);
  opacity: 1 !important;
}

button.controls {
  font-family: "Press Start 2P", "Helvetica Neue", helvetica, arial, sans-serif;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  background-color: #fff;
  border: solid #222 2px;
  border-radius: 5px;
  padding: 10px 12px;
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 0 #222;
  box-shadow: 4px 4px 0 #222;
  margin: 8px;
}

.playing .pixel.now {
  background: var(--green); 
}